{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% block title %}
    <title>CatDjango</title>
    {% endblock %}
</head>
<body>
    <div class="d-flex">
        <div class="sidebar bg-light d-flex flex-column align-items-center p-3" style="min-width: 200px;">
            <img src="{% static 'main/img/cat.png' %}" alt="a cat on two paws" class="img-fluid img-thumbnail mb-3" width="100">
            <h4>CatDjango</h4>
            <nav class="nav flex-column w-100 text-center">
                <a class="nav-link active" href="{% url 'home' %}">Main page</a>
                <a class="nav-link" href="{% url 'new' %}">Features Django</a>
                <a class="nav-link" href="{% url 'news_home' %}">News page</a>

            </nav>
        </div>
        <main class="content flex-grow-1">
            <div class="container-fluid p-4">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>

    <footer class="bg-light text-center py-3">
        <p>Учебный проект на Django студии Zerocoder @2024</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
